@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "QC Dashboard";
}
<div class="container mt-1">
<h1>QC Dashboard</h1>
<ul>
    <li><a asp-controller="HoldTag" asp-action="Index">HoldTag</a></li>
    <li><a asp-controller="Deviation" asp-action="Index">Deviation</a></li>
    <li><a asp-controller="QCSecondaryHoldReturn" asp-action="Index">QC Secondary Hold Return</a></li>
</ul>
</div?