@{
    ViewBag.Title = "Enter Password";
}



@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<div class="d-flex justify-content-center">
    <h2>Enter Password</h2>
</div>

<div class="d-flex justify-content-center">
    <form method="post" action="@Url.Action("PasswordEntry", "Admin")" class="w-100" style="max-width: 360px;">
        <div class="form-group text-center mb-3">
            <label for="password" class="form-label d-block">Password:</label>
            <input type="password" id="password" name="password" class="form-control text-center" required />
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

