@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Molding";
}
<div class="container mt-1">
<h1>Molding</h1>
<h2>Press Details</h2>
<ul>
    <li><a href="/api/picodata/press">Counters</a></li>
    <li><a href="/PressSetup">Setup</a></li>
    <li><a asp-controller="PressMixBagChange" asp-action="Index">Bag Change</a></li>
    <li><a asp-controller="PressRunLog" asp-action="Index">Run Logs</a></li>
</ul>
</div>
